/* style for projects Page*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", sans-serif;
    background-color: #0F172A;
    height: 100vh;
}

/* Scrollbar */
::-webkit-scrollbar {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}


/* Header */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    color: white;
}

.header-background {
    width: 100%;
    height: 80px;
    background: linear-gradient(0deg, rgb(22 22 22 / 0%) 0%, rgb(10 10 17)100%)
}

.nav {
    display: flex;
    justify-content: flex-end;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 85%;
    gap: 15px;
    cursor: pointer;
}

.title-image {
    height: 40px;
    width: 40px;
    border-radius: 10px;

}

.back-button {
    font-size: large;
    color: white;
    background-color: transparent;
    border: transparent;
    border-right: 10px;;
    cursor: pointer;
}

/* End Header*/

/* Spacer */

.spacer {
    height: 7vh;
    width: 30vh;
    position: static;
}

/* Main container */

.photo{
    min-height: 400px;
    max-width: 400px;
}

.text-field {
    width: 65vh;
}

.line-container {
    width: 2px;
    height: 70vh;
    border-radius: 2px;
    background-color: white;
    margin: 10px 35px 10px 35px;
}



.main-container {
    display: flex;
    justify-content: space-evenly;
}

.half-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 80vh;
    height: 74vh;

    color: white;
    overflow-x: hidden;
    overflow-y: scroll;

}



/* projects */

.icon-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 340px;
    margin: 5px 0 0 0;
}

.icon-looks {
    background-color: rgb(18, 43, 57);
    border-radius: 100px;
    color: #5EEAD4;
    margin: 0 10px 0 0;
    padding: 4px 15px 4px 15px;
    font-size: small;

}

.icon-looks:hover {
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);

}

.dates {
    display: flex;
    flex-direction: column;

    margin: 10px 0 10px 0;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 510px;
    height: 200px;
    border-radius: 10px;

}

.projects:hover {
    background-color: rgba(6, 15, 28, 0.47);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.37);
    border-top: 1px solid #162033;

}

.project-alignment {
    margin: 12px;
    line-height: 1.5em;
}

.project-text-container {
    font-size: small;
    color: #a29f9f;
    line-height: 1.4em;
}

/* Mobile */

.align-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
}

/*.projects-mobile {*/
/*    background-color: red;*/
/*}*/

.line-container-mobile {
    display: none;
    width: 80%;
    height: 2px;
    border-radius: 2px;
    background-color: white;
    margin: 35px 10px 35px 10px;
}

@media only screen and (max-width: 1000px) {
    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .half-container {
        height: 100%;
        width: 60vh;
        overflow: unset;
    }

    .projects {
        width: 100%;
    }

    .projects-mobile {
        width: 100%;
    }





    .line-container {
        display: none;
    }
    .line-container-mobile {
        display: block;
    }
}